<form [formGroup]="formItem" (ngSubmit)="changeValues()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-primary-title">{{formItem.value.itemName}}</h4>
    </div>
    <div class="modal-body centered">
        <textarea class="form-control" formControlName="text" id="exampleFormControlTextarea1" rows="3">{{formItem.value.text}}</textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">Save changes</button>
    </div>
</form>
